{% load nvd3_tags %}
{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
		{% include_chart_jscss %}
		{# Jquery CDN : Needed when using jquery_on_ready=True #}
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="{% static "js/bootstrap.js" %}" ></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SDP 2014: Team Rest</title>
        <meta name="description" content="SDP Team 12">
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
		<script type="text/javascript">
		
		{% load_chart charttype chartdata chartcontainer extra %}
			
		</script>
	
	
	</head>
    <body>
		
		
		<div id="menu" class="container">
			<ul>
				<li id="begP"><a href="/">Home</a></li>
				<li id="mid"><a href="/data/tram_info/">Tram Information</a></li>
				<li id="mid"><a href="/articles/commands/">Command the Tram</a></li>	
				<li id="endT"><a href="/data/graph/3/">Collected Data</a></li>
			</ul>
		</div>
		
		
        <h1>SDP14: Team REST</h1>
		
		
		
		
		<div id="data_for_table">
		
		
		<nav>
			<ul>
				<li><a href="/data/graph/3/">Min. Battery Volt</a></li>
				<li><a href="/data/graph/4/">PTemp</a></li>
				<li><a href="/data/graph/6/13/">NDVI Down</a>
					<ul>
						<li><a href="/data/graph/6/">NDVIDown_Avg(1)</a></li>
						<li><a href="/data/graph/7/">NDVIDown_Avg(2)</a></li>
						<li><a href="/data/graph/8/">NDVIDown_Min(1)</a></li>
						<li><a href="/data/graph/9/">NDVIDown_Min(2)</a></li>
						<li><a href="/data/graph/10/">NDVIDown_Max(1)</a></li>
						<li><a href="/data/graph/11/">NDVIDown_Max(2)</a></li>
						<li><a href="/data/graph/12/">NDVIDown_Std(1)</a></li>
						<li><a href="/data/graph/13/">NDVIDown_Std(2)</a></li>
					</ul>
				</li>
				<li><a href="/data/graph/14/21/">NDVI Up</a>
					<ul>
						<li><a href="/data/graph/14/">NDVIUp_Avg(1)</a></li>
						<li><a href="/data/graph/15/">NDVIUp_Avg(2)</a></li>
						<li><a href="/data/graph/16/">NDVIUp_Min(1)</a></li>
						<li><a href="/data/graph/17/">NDVIUp_Min(2)</a></li>
						<li><a href="/data/graph/18/">NDVIUp_Max(1)</a></li>
						<li><a href="/data/graph/19/">NDVIUp_Max(2)</a></li>
						<li><a href="/data/graph/20/">NDVIUp_Std(1)</a></li>
						<li><a href="/data/graph/21/">NDVIUp_Std(2)</a></li>
					</ul>
				</li>
				
				<li><a href="/data/graph/22/29/">PRI Down</a>
					<ul>
						<li><a href="/data/graph/22/">PRIDown_Avg(1)</a></li>
						<li><a href="/data/graph/23/">PRIDown_Avg(2)</a></li>
						<li><a href="/data/graph/24/">PRIDown_Min(1)</a></li>
						<li><a href="/data/graph/25/">PRIDown_Min(2)</a></li>
						<li><a href="/data/graph/26/">PRIDown_Max(1)</a></li>
						<li><a href="/data/graph/27/">PRIDown_Max(2)</a></li>
						<li><a href="/data/graph/28/">PRIDown_Std(1)</a></li>
						<li><a href="/data/graph/29/">PRIDown_Std(2)</a></li>
					</ul>
				</li>
				
				<li><a href="/data/graph/30/37/">PRI Up</a>
					<ul>
						<li><a href="/data/graph/30/">PRIUp_Avg(1)</a></li>
						<li><a href="/data/graph/31/">PRIUp_Avg(2)</a></li>
						<li><a href="/data/graph/32/">PRIUp_Min(1)</a></li>
						<li><a href="/data/graph/33/">PRIUp_Min(2)</a></li>
						<li><a href="/data/graph/34/">PRIUp_Max(1)</a></li>
						<li><a href="/data/graph/35/">PRIUp_Max(2)</a></li>
						<li><a href="/data/graph/36/">PRIUp_Std(1)</a></li>
						<li><a href="/data/graph/37/">PRIUp_Std(2)</a></li>
					</ul>
				</li>
				
				<li><a href="/data/graph/38/41/">Pyrano</a>
					<ul>
						<li><a href="/data/graph/38/">pyranoUpVolt_Avg</a></li>
						<li><a href="/data/graph/39/">pyranoDownVolt_Avg</a></li>
						<li><a href="/data/graph/40/">pyrgeoUpVolt_Avg</a></li>
						<li><a href="/data/graph/41/">pyrgeoDownVolt_Avg</a></li>
					</ul>
				</li>
				
				<li><a href="/data/graph/42/44/">Temp Averages</a>
					<ul>
						<li><a href="/data/graph/42/">tempVolt_Avg</a></li>
						<li><a href="/data/graph/43/">tempK_Avg</a></li>
						<li><a href="/data/graph/44/">tempC_Avg</a></li>
					</ul>
				</li>
				<li><a href="/data/graph/54/">Distance</a></li>
				<!--
				<li><a href="/data/graph/45/47/">SW</a>
					<ul>
						<li><a href="/data/graph/45/">SWin_Avg</a></li>
						<li><a href="/data/graph/46/">SWout_Avg</a></li>
						<li><a href="/data/graph/47/">SWnet_Avg</a></li>
						
					</ul>
				</li>
				
				<li><a href="/data/graph/48/50/">LW</a>
					<ul>
						<li><a href="/data/graph/48/">LWin_Avg</a></li>
						<li><a href="/data/graph/49/">LWout_Avg</a></li>
						<li><a href="/data/graph/50/">LWnet_Avg</a></li>
						
					</ul>
				</li>
				
				<li><a href="/data/graph/51/">NR_Avg</a></li>
				
				<li><a href="/data/graph/52/50/">Sonic</a>
					<ul>
						<li><a href="/data/graph/53/">sonicOutputVolt</a></li>
						<li><a href="/data/graph/54/">sonicOutputVolt_Std</a></li>						
					</ul>
				</li>
				
				<li><a href="/data/graph/55/">Distance</a></li>
				--->	
				
			</ul>
		</nav>		
		
		
		</div>

		
	<div>



	</div>	
		
        <p> Table of data values available <a href="/data/table/">here</a>.</p>
		<p>Download images and uploaded Excel files of data from <a href="/articles/all_files/">here</a>. </p>
		<button id="refresh_btn" type="button" class="btn btn-default hidden" onclick="refresh()">New Data is available click here to reload the page.</button>
			
	
		
		

		
		<div>
		
		{% include_container chartcontainer 600 '100%' %}
		
		</div>

		
		<script>
		
			var cur_id = parseInt( {{ id }} );
			var new_data = 0;
			
			
			function get_id(){
				
				var xmlHttp = null;
				
				xmlHttp = new XMLHttpRequest();
				xmlHttp.open( "GET", "http://192.168.1.10:8000/data/get_latest_graph_id/", false );
				xmlHttp.send( null );
				if(parseInt(xmlHttp.responseText) > cur_id){
				
					document.getElementById('refresh_btn').setAttribute('class', 'btn btn-default visible');
				
				
				}
				
			}
			
			function refresh(){
			
				 location.reload();
			
			}
			
			setInterval(function() {
                if(new_data == 0){
				
					get_id();
				
				}
            }, 5000 ); //set an interval timer up to repeat the function
		
		</script>
		
		

    </body>
</html>
