{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SDP 2014: Team Rest</title>
        <meta name="description" content="SDP Team 12">
        <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
    </head>
    <body>
		  <div>
				<ul id="nav">
						<li id="begP"><a href="#">Block Diagram</a></li>
						<li id="mid"><a href="#">Team Members</a></li>
						<li id="mid"><a href="#">Presentation Documents</a></li>
						<li id="mid"><a href="#">Operational Website</a></li>
						<li id="endT"><a href="#">Collected Data</a></li>
				</ul>		  
		  
		  </div>	        
        
        
        <h1>SDP 2014: Team Rest</h1>

    </body>
</html>
